#app {
  background: #eceff1;
}

.page-content {
  min-height: 100vh;
}

.container--gutter {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.m-b-g {
  margin-bottom: $grid-gutter-width;
}