.asset-field {
  @extend .flex-fake-full-height;
  @include modifier('empty') {
    background-color: #fff;
    color: #afbdc5;
    border: 1px #afbdc5 dashed;
  }

  @include modifier('populated') {
    .asset-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}

.asset-input {
  width: 100%;
  height: 100%;

  @include element('btn') {
    @extend %btn-hollow;
    width: 100%;
    height: 100%;
  }

  @include element('input') {
    display: none;
  }
}

.asset-preview {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  > img {
    position: relative;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  > video {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  @include modifier('video') {
    background-color: #000;
  }
}

.multiple-asset-field {
  width: 100%;
  height: 100%;
}