.avatar {
  background-color: #fff;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  overflow: hidden;
  z-index: 1; // This is to fix a bug with translate ignoring border-radius


  @include modifier('image') {
  }
  @include modifier('icon') {
  }

  @include element('image-container') {
    border-radius: 50px;
    overflow: hidden;
    width: 100%;
    height: 100%;

    > img {
      min-width: 100%;
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  @include element('icon-container') {
    text-align: center;
    top: 50%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    font-size: 2.1rem;
  }
}