.brand-selector {
  @include element('list') {

    @include element('item') {
      @extend %aspect-1-1-container;
    }
  }

  @include element('brand') {
    @extend %aspect-item;
    background: #fff;
    border-radius: 5px;

    > button {
      @extend %btn-hollow;
      width: 100%;
      height: 100%;
    }
  }
}