.brand-selector {
  button {
    @extend %btn-hollow;
    width: 100%;
    height: 100%;
    padding: 0;

    > img {
      @extend .img-fluid;
      margin: 0 auto;
    }
  }

  .selector__list__item {
    @extend .m-b-2;
  }
}