%btn-hollow {
  background: transparent none;
  border: 0 transparent;
}

.btn-hollow {
  @extend %btn-hollow;
}

.btn {
  padding: 0.6rem 1rem;
  outline: 0;

  &:active,
  &:focus,
  &:active:focus {
    outline: 0;
  }
}

.btn-radius-lg {
  border-radius: 2rem;
}

.btn-primary {
  background-color: $active;
  border-color: $active;
  color: $active-contrast;

  &:hover {
    background-color: #c2185b;
    border-color: #c2185b;
  }

  &:focus,
  &:active,
  &:active:focus {
    background-color: #c2185b;
    border-color: #c2185b;
  }
}

.btn-secondary {
  background-color: #B0BEC5;
  border-color: #B0BEC5;
  color: #fff;

  &:hover {
    background-color: #78909C;
    border-color: #78909C;
    color: #fff;
  }
}

.btn-secondary-outline {
  background-color: #fff;
  color: #afbdc5;
  border-color: #afbdc5;
}

.btn-decision {
  border-style: dashed;
}

.btn-secondary-hollow {
  @extend %btn-hollow;
  color: #afbdc5;
}