%btn-hollow {
  background: transparent none;
  border: 0 transparent;
}

.btn-primary {
  background-color: $active;
  border-color: $active;
  color: $active-contrast;

  &:hover {
    //@TODO: Add hover color
  }
}

.btn-secondary {
  background-color: #afbdc5;
  border-color: #afbdc5;
  color: #fff;

  &:hover {
    //@TODO: Add hover color
  }
}

.btn-secondary-outline {
  background-color: #fff;
  color: #afbdc5;
  border-color: #afbdc5;
}

.btn-decision {
  background-color: #fff;
  border-color: #afbdc5;
  color: #afbdc5;
  border-style: dashed;
}