.rd3-barchart-yaxis,
.rd3-barchart-xaxis,

.rd3-linechart-xaxis,
.rd3-linechart-yaxis {
  .tick {
    line {
      display: none;
    }
  }

  .domain {
    display: none;
  }
}

// The chart tooltip
.rd3-basic-chart + div {
  z-index: 1;
}