
.faux-table {
  @include element('head') {
    @extend .clearfix;
    border-bottom: 1px $separator solid;
    > .faux-table__cell {
      color: #e91e62;
    }
  }

  @include element('body') {
    
  }

  @include element('row') {
    border-bottom: 1px $separator solid;
    @extend .clearfix;
  }

  @include element('cell') {
    padding: 0;
    @extend .p-y-1;
  }
}