.form--content,
.form--modal {
  label {
    color: $active;
    font-size: 0.9rem;
  }

  .input-group-addon {
    background-color: #fff;
    border-color: #afbdc5;
    color: #afbdc5;
  }

  .form-control {
    font-size: 0.9rem;
    border-color: #b0bec5;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    color: #37474f;
    &:focus {
      border-color: $active;
    }
  }

  input::-webkit-input-placeholder {
    color: #b0bec5;
  }

  .has-danger {
    @include form-control-validation($brand-danger);
  }
}

.form-group {
  //margin-bottom: 2rem;
}