.form--content,
.form--modal {
  label {
    color: $active;
  }

  .input-group-addon {
    background-color: #fff;
    border-color: #afbdc5;
    color: #afbdc5;
  }

  .form-control {
    border-color: #afbdc5;
    &:focus {
      border-color: $active;
    }
    color: #475862;
  }

  input::-webkit-input-placeholder {
    color: #bcc9d0;
  }

  .has-danger {
    @include form-control-validation($brand-danger);
  }
}

.form-group {
  margin-bottom: 2rem;
}