.default-layout {
  .page-content {
    padding-left: 100px;
  }
}

.cmp-draw-nav--open {
  .default-layout {
    .page-content {
      padding-left: 300px;
    }
  }
}

.focus-layout {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e91e63+0,0ab6cf+100 */
  background: #e91e63; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #e91e63 0%, #0ab6cf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #e91e63 0%,#0ab6cf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #e91e63 0%,#0ab6cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e91e63', endColorstr='#0ab6cf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}