.ReactModalPortal {
}

.ReactModal__Overlay {
  @extend .modal;
  display: block;
  background-color: rgba(38, 50, 56, 0.95);
}

.ReactModal__Content {

}

.modal-header {
  border-bottom-color: transparent;
}

.modal-content {
  @include modifier('hollow') {
    background-color: transparent;
    border-color: transparent;
  }
}