
%pane {
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.60);
}

%pane--filled {
  background: #fff;
}

.pane {
  @extend %pane;

  @include modifier('filled') {
    @extend %pane--filled;
  }

  @include element('body') {
    padding: $grid-gutter-width / 2;
  }
}

.media-pane {
  min-height: 400px;
  position: relative;
}