
%pane {
  border-radius: 5px;
}

%pane--filled {
  background: #fff;
}

.pane {
  @extend %pane;

  @include modifier('filled') {
    @extend %pane--filled;
  }

  @include element('body') {
    padding: $grid-gutter-width / 2;
  }
}